<ion-view view-title="Actividades">
    <ion-content>
        <div class="spacer" style="width: 300px; height: 30px;"></div>
        <h3 class="center">Registrar Actividad</h3>
        <div class="spacer" style="width: 300px; height: 30px;"></div>
        <ion-list>
            <ion-item>
                <ion-label floating>Descripción</ion-label>
                <ion-textarea></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label floating>Tipo</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Organización</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Persona</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Negocio</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Fecha</ion-label>
                <ion-input type="date"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Hora</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 30px;"></div>
        <button class="button button-block button-balanced icon-left ion-android-send"> Guardar </button>
    </ion-content>
</ion-view>