<ion-view view-title="Home">
    <ion-content>
        <div class="spacer" style="width: 300px; height: 30px;"></div>
        <h3 class="center">Home</h3>
        <div class="spacer" style="width: 300px; height: 30px;"></div>
        <div class="list card">
            <div class="item item-avatar"> <img src="img/empresa.jpg">
                <h2>Negocio</h2>
                <p>Información de negocio</p>
            </div>
            <div class="item item-image"> <img src="img/reunion.jpg"> </div>
            <a class="item item-icon-left assertive" href="#"> <i class="icon ion-arrow-graph-up-right"></i> Empezar negociación </a>
        </div>
        <div class="list card">
            <div class="item item-avatar"> <img src="img/empresa2.jpg">
                <h2>Negocio</h2>
                <p>Información de negocio</p>
            </div>
            <div class="item item-image"> <img src="img/reunion2.jpg"> </div>
            <a class="item item-icon-left assertive" href="#"> <i class="icon ion-arrow-graph-up-right"></i> Empezar negociación </a>
        </div>
    </ion-content>
</ion-view>