<ion-view view-title="Negocios">
    <ion-content>
        <div class="spacer" style="width: 300px; height: 30px;"></div>
        <h3 class="center">Registrar Negocio</h3>
        <div class="spacer" style="width: 300px; height: 30px;"></div>
        <ion-list>
            <ion-item>
                <ion-label floating>Titulo</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Descripción</ion-label>
                <ion-textarea></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label floating>Organización</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Persona</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Valor</ion-label>
                <ion-input type="number"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Fecha de cierre</ion-label>
                <ion-input type="date"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Estado</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 30px;"></div>
        <button class="button button-block button-balanced icon-left ion-android-send"> Guardar </button>
    </ion-content>
</ion-view>