<ion-view view-title="Organización">
    <ion-content>
        <div class="spacer" style="width: 300px; height: 30px;"></div>
        <h3 class="center">Registrar Organización</h3>
        <div class="spacer" style="width: 300px; height: 30px;"></div>
        <ion-list>
            <ion-item>
                <ion-label floating>Nombre</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Dirección</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Teléfono</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 30px;"></div>
        <button class="button button-block button-balanced icon-left ion-android-send"> Guardar </button>
    </ion-content>
</ion-view>
